In [9]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv('adult_data_mini.csv')

In [11]:
data.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [14]:
def adjust_hours(row, n):
    if pd.notna(row['hours-per-week']):
        return row['hours-per-week'] - n
    return row['hours-per-week']  # Leave NaN values as they are

# Apply the function to the dataframe
n = 4  # My calculated calculated n
data['reduced-hours-per-week'] = data.apply(adjust_hours, axis=1, n=n)

In [15]:
grouped_original = data.groupby(['relationship', 'hours-per-week']).size()
print("Grouped by 'relationship' and 'hours-per-week':")
print(grouped_original)

Grouped by 'relationship' and 'hours-per-week':
relationship  hours-per-week
Husband       1                  6
              2                 12
              3                 13
              4                 13
              5                 14
                                ..
Wife          72                 2
              75                 2
              80                 2
              90                 1
              99                 3
Length: 426, dtype: int64

In [16]:
grouped_reduced = data.groupby(['relationship', 'reduced-hours-per-week']).size()
print("Grouped by 'relationship' and reduced 'hours-per-week':")
print(grouped_reduced)

Grouped by 'relationship' and reduced 'hours-per-week':
relationship  reduced-hours-per-week
Husband       -3                         6
              -2                        12
              -1                        13
               0                        13
               1                        14
                                        ..
Wife           68                        2
               71                        2
               76                        2
               86                        1
               95                        3
Length: 426, dtype: int64